<nav>
	<ul>
	  	<li><a href="http://localhost:3000/pictures/new">Upload Picture<br /></a></li>
	  	<li><a href="#">Home<br /></a></li>
	  	<li><a href="#">About us<br /></a></li>
	  	<li><a href="#">Edit a Photo<br /></a></li>
	  	<li><a href="#">Destroy a photo<br /></a></li>
	  	<li><a href="#">Sign in<br /></a></li>
	  	<li><a href="#">Register<br /></a></li>
	  	
	</ul>
</nav>
<body>
<div class="section light">


	<div class="productShell">
	<div class="productBox color-blue">
		<aside><h4>Check out some of this week's hits</h4></aside>
		<img src="http://placehold.it/240x240" />
	</div>


<% @pictures.each do |picture| %>
	<!-- <p>, <%= picture[:artist] %></p> -->
	<!-- <%= link_to image_tag(picture.url) %>  -->
		<div class="productBox small">
		<aside><h4><%= picture[:title] %></h4></aside>
		<img src= <%=picture[:url]%>/>
	</div>	
<% end %>
			
</div></div>
<div class="section first"></div>
<div class="section light">
<div class="productShell">
		<div id="nametag">
		<div id="header">
			<hgroup>
				<h1>Ian Steffy</h1>
				<h2>web dev</h2>
			</hgroup>
		</div>

		<div id="introduction">
			<p>I'm a student at Bitmaker Labs who lives and breaths code</p>
		</div>

		<div id="contact">
			<!-- <a href="tel:17176066685" id="telephone" class="button">Call <span>1-717-606-6685</span></a> 
			<em>or</em> -->
			<a href="mailto:isteffy@hotmail.com" id="email" class="button">Email <span>isteffy@hotmail.com</span></a>
		</div>

	</div>
</div>
<div class="section second"></div>
<div class="section bot">
	<div class="productShell"><center>
  <div class="wrapper">
  <div class="tri-left"><a href="#"><img src="http://icons.iconarchive.com/icons/designbolts/free-retro-style-social/32/Facebook-icon.png"/></a></div>
  <div class="tri-left"><a href="#"><img src="http://icons.iconarchive.com/icons/designbolts/free-retro-style-social/32/Twitter-icon.png"/></a></div>
  <div class="tri-left"><a href="#"><img src="http://icons.iconarchive.com/icons/designbolts/free-retro-style-social/32/Tumblr-icon.png"/></a></div>
    
  <div class="tri-right"><a href="#"><img src="http://icons.iconarchive.com/icons/designbolts/free-retro-style-social/32/RSS-icon.png"/></a></div>
  <div class="tri-right"><a href="#"><img src="http://icons.iconarchive.com/icons/designbolts/free-retro-style-social/32/Digg-icon.png"/></a></div>
  <div class="tri-right"><a href="#"><img src="http://icons.iconarchive.com/icons/designbolts/free-retro-style-social/32/Google-Plus-icon.png"/></a></div>
  </div>  
</center></div>
</div>
<!-- <div class="section third"></div>
<div class="section light"><div class="productShell"></div></div> -->

</body>
<!-- 	<div class="blurred">
		<iframe height="3000" frameborder="0" scrolling="no" ></iframe>
		<p>Photogur</p>
</div> -->
