/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{
	color:#ddd;
}
* {
   	margin: 0px;
    padding: 0px;
}

.section {
   	height: 500px;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.section.light {
    height: 350px;
    font-family: Helvetica, Arial, sans-serif; background: #ddd;
    background-size: 10px;
	background-image: -webkit-linear-gradient(0, transparent 90%, rgba(255, 255, 255, .10) 50%);
	background-image: -moz-linear-gradient(0px 50%, transparent 90%, rgba(255, 255, 255, 0.10) 50%);
	background-image: -ms-linear-gradient(0, transparent 90%, rgba(255, 255, 255, .10) 50%);
	background-image: -o-linear-gradient(0, transparent 90%, rgba(255, 255, 255, .10) 50%); 
}


.section.first {
   	background-image: url(http://monicao.s3.amazonaws.com/bitmaker/house.jpg); 
}

.section.second {
   	background-image: url(http://monicao.s3.amazonaws.com/bitmaker/wave.jpg);

}

.section.third {
   	background-image: url(http://monicao.s3.amazonaws.com/bitmaker/girl.jpg); 
}

.productShell {
	width: 960px;
	height: 100%;
	background: #fff;
	margin: 0 auto;
	padding: 15px;
	overflow: hidden;
}

.productBox {
	float: left;
	margin: 3px;
}

.productBox aside {
	cursor: pointer;
	background: #555;
	position: absolute;
	z-index: 2;
}

.productBox aside h4 {
	color: #fff;
	text-transform: uppercase;
	text-align: right;
	font-weight: normal;
	font-size: 24px;
	margin: 0;
	padding: 15px;
	bottom: 0;
	position: absolute;
}

.productBox img {
	position: absolute;
	z-index: 1;
}

.productBox, .productBox aside, .productBox img { width: 270px; height: 270px; }
.productBox.small, .productBox.small aside, .productBox.small img { width: 130px; height: 132px; }
.productBox.small h4 { font-size: 14px; }

.color-blue aside {
	background: #258dc8;
	background: -moz-linear-gradient(top, #258dc8 0%, #1f7baf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#258dc8), color-stop(100%,#1f7baf));
	background: -webkit-linear-gradient(top, #258dc8 0%,#1f7baf 100%);
	background: -o-linear-gradient(top, #258dc8 0%,#1f7baf 100%);
	background: -ms-linear-gradient(top, #258dc8 0%,#1f7baf 100%);
	background: linear-gradient(to bottom, #258dc8 0%,#1f7baf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#1f7baf',GradientType=0 );

}

.color-green aside {
	background: #89c825;
	background: -moz-linear-gradient(top, #89c825 0%, #6ea11d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#89c825), color-stop(100%,#6ea11d));
	background: -webkit-linear-gradient(top, #89c825 0%,#6ea11d 100%);
	background: -o-linear-gradient(top, #89c825 0%,#6ea11d 100%);
	background: -ms-linear-gradient(top, #89c825 0%,#6ea11d 100%);
	background: linear-gradient(to bottom, #89c825 0%,#6ea11d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89c825', endColorstr='#6ea11d',GradientType=0 );
}


		@import url(http://fonts.googleapis.com/css?family=Satisfy);
	iframe{
		position:absolute;
		top:0;
		left:0;
		overflow:hidden;
		width:100%;
	}
	iframe.main {
		position:absolute;
		height:100%;
		width:100%;
	}
	.blurred {
		box-shadow: 0 5px 50px rgba(0,0,0,0.4);
		overflow:hidden;
		position:fixed;
		bottom:-10px;
		left:0;
		height:200px;
		width:100%;
	}
	.blurred p {
		font-family: 'Satisfy', cursive;
		position:absolute;
		top:50px;
		width:100%;
		color:white;
		text-align: center;
		text-shadow:1px 1px 2px black;
		font-size:70px;
	}