/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html{
	height:100%;

 }
body{
	width:100%;
	margin: 0 auto;
	overflow: auto;
}
* {
   	margin: 0px;
    padding: 0px;
}

.section {
   	height: 400px;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.content {

    overflow: auto;

    font-family: Helvetica, Arial, sans-serif; background: #ddd;
    background-size: 10px;
	background-image: -webkit-linear-gradient(0, transparent 90%, rgba(255, 255, 255, .10) 50%);
	background-image: -moz-linear-gradient(0px 50%, transparent 90%, rgba(255, 255, 255, 0.10) 50%);
	background-image: -ms-linear-gradient(0, transparent 90%, rgba(255, 255, 255, .10) 50%);
	background-image: -o-linear-gradient(0, transparent 90%, rgba(255, 255, 255, .10) 50%); 
}

.header {
overflow: auto;

    font-family: Helvetica, Arial, sans-serif; background: #ddd;
    background-size: 10px;
	background-image: -webkit-linear-gradient(0, transparent 90%, rgba(255, 255, 255, .10) 50%);
	background-image: -moz-linear-gradient(0px 50%, transparent 90%, rgba(255, 255, 255, 0.10) 50%);
	background-image: -ms-linear-gradient(0, transparent 90%, rgba(255, 255, 255, .10) 50%);
	background-image: -o-linear-gradient(0, transparent 90%, rgba(255, 255, 255, .10) 50%); 
}

.footer {
	overflow: auto;
	height:700px;
  font-family: Helvetica, Arial, sans-serif; background: #ddd;
  background-size: 10px;
	background-image: -webkit-linear-gradient(0, transparent 90%, rgba(255, 255, 255, .10) 50%);
	background-image: -moz-linear-gradient(0px 50%, transparent 90%, rgba(255, 255, 255, 0.10) 50%);
	background-image: -ms-linear-gradient(0, transparent 90%, rgba(255, 255, 255, .10) 50%);
	background-image: -o-linear-gradient(0, transparent 90%, rgba(255, 255, 255, .10) 50%); */
}
.section.first {
   	background-image: url(http://onlyhdwallpapers.com/wallpaper/the_city_in_black_and_white_high_resolution_desktop_4186x2837_wallpaper-318808.jpg);
}

.section.second {
   	background-image: url(http://monicao.s3.amazonaws.com/bitmaker/wave.jpg);
   	margin-top: 150px
}

.section.third {
   	background-image: url(http://monicao.s3.amazonaws.com/bitmaker/girl.jpg); 
}

.container {
	width:100%;
	background:#DCDADE;
	margin: 0 auto;
	overflow: hidden;
}

/*.productBox {
	float: left;
	margin: 3px;
}

.productBox aside {
	cursor: pointer;
	background: #555;
	position: absolute;
	z-index: 2;
}

.productBox aside h4 {
	color: #fff;
	text-transform: uppercase;
	text-align: right;
	font-weight: normal;
	font-size: 24px;
	margin: 0;
	padding: 15px;
	bottom: 0;
	position: absolute;
}

.productBox img {
	position: absolute;
	z-index: 1;
}

.productBox, .productBox aside, .productBox img { width: 270px; height: 270px; }
.productBox.small, .productBox.small aside, .productBox.small img { width: 130px; height: 132px; 
background: #9cd211;
	background: -moz-linear-gradient(top, #9cd211 0%, #6ea11d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9cd211), color-stop(100%,#6ea11d));
	background: -webkit-linear-gradient(top, #9cd211 0%,#6ea11d 100%);
	background: -o-linear-gradient(top, #9cd211 0%,#6ea11d 100%);
	background: -ms-linear-gradient(top, #9cd211 0%,#6ea11d 100%);
	background: linear-gradient(to bottom, #9cd211 0%,#6ea11d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cd211', endColorstr='#6ea11d',GradientType=0 );
}
.productBox.small h4 { font-size: 14px; }

.color-blue aside {
	background: rgb(17, 152, 242);
	background: -moz-linear-gradient(top, rgb(17, 152, 242) 0%, rgb(17, 152, 242) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(17, 152, 242)), color-stop(100%,rgb(17, 152, 242)));
	background: -webkit-linear-gradient(top, rgb(17, 152, 242) 0%,rgb(17, 152, 242) 100%);
	background: -o-linear-gradient(top, rgb(17, 152, 242) 0%,#1f7baf 100%);
	background: -ms-linear-gradient(top, rgb(17, 152, 242) 0%,#1f7baf 100%);
	background: linear-gradient(to bottom, rgb(17, 152, 242) 0%,#1f7baf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#1f7baf',GradientType=0 );

}

.color-green aside {
	
}*/
/*		@import url(http://fonts.googleapis.com/css?family=Satisfy);
	iframe{
		position:absolute;
		top:0;
		left:0;
		overflow:hidden;
		width:100%;
	}
	iframe.main {
		position:absolute;
		height:100%;
		width:100%;
	}
	.blurred {
		box-shadow: 0 5px 50px rgba(0,0,0,0.4);
		overflow:hidden;
		position:fixed;
		bottom:-10px;
		left:0;
		height:200px;
		width:100%;
	}
	.blurred p {
		font-family: 'Satisfy', cursive;
		position:absolute;
		top:50px;
		width:100%;
		color:white;
		text-align: center;
		text-shadow:1px 1px 2px black;
		font-size:70px;}*/
nav {
background:-moz-linear-gradient(center top , rgb(17, 152, 242), rgb(27, 138, 212)) repeat scroll 0% 0% transparent;
	background:-webkit-linear-gradient(center top , rgb(17, 152, 242), rgb(27, 138, 212)) repeat scroll 0% 0% transparent;
	background:-ms-linear-gradient(center top , rgb(17, 152, 242), rgb(27, 138, 212)) repeat scroll 0% 0% transparent;
	background:-o-linear-gradient(center top , rgb(17, 152, 242), rgb(27, 138, 212)) repeat scroll 0% 0% transparent;
	background:rgb(17, 152, 242);
	margin:0px auto;
	overflow: hidden;

	overflow: auto;
}


	nav ul {
	list-style: none;
	overflow: hidden;
}

nav li a {
	background:-moz-linear-gradient(center top , rgb(17, 152, 242), rgb(27, 138, 212)) repeat scroll 0% 0% transparent;
	background:-webkit-linear-gradient(center top , rgb(17, 152, 242), rgb(27, 138, 212)) repeat scroll 0% 0% transparent;
	background:-ms-linear-gradient(center top , rgb(17, 152, 242), rgb(27, 138, 212)) repeat scroll 0% 0% transparent;
	background:-o-linear-gradient(center top , rgb(17, 152, 242), rgb(27, 138, 212)) repeat scroll 0% 0% transparent;
	background:rgb(17, 152, 242);
	border-right: 1px solid #fff;
	color: #fff;
	display: block;
	float: left;
	font: 400 13px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	/*TRANSISTIONS*/
	-webkit-transition: background 0.5s ease;
	   -moz-transition: background 0.5s ease;
	     -o-transition: background 0.5s ease;
	    -ms-transition: background 0.5s ease;
	        transition: background 0.5s ease;
}

/*HOVER*/
nav li a:hover {
	background: #222;
}

/*SMALL*/
nav small {
	font: 100 11px/1 Helvetica, Verdana, Arial, sans-serif;
	text-transform: none;
	color: #aaa;
}

/*BORDER FIX*/
nav li:last-child a {
	border: none;
}

/*BLUE MENU*/
nav .blue {
	margin-top: 50px;
}

.blue li a {
	background: #75b1de;
}

.blue small {
	color: white;
}

.blue li a:hover {
	background: #444;
}

/*RED MENU*/

nav .red {
	margin-top: 50px;
}

.red li a {
	background: #5C0002;
}

.red small {
	color: white;
}

.red li a:hover {
	background: #a60306;
}

/* MEDIA QUERIES*/
@media only screen and (max-width : 1220px),
only screen and (max-device-width : 1220px){
	nav li a {
		font: 400 10px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
	}
	
	nav small {
		font: 100 10px/1 Helvetica, Verdana, Arial, sans-serif;
	}
}

@media only screen and (max-width : 930px),
only screen and (max-device-width : 930px){
	nav li a {
		width: 25%;
		border-bottom: 1px solid #fff;
		font: 400 11px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
	}
	
	nav li:last-child a, nav li:nth-child(4) a {
		border-right: none;
	}
	
	nav li:nth-child(5) a, nav li:nth-child(6) a, nav li:nth-child(7) a, nav li:nth-child(8) a {
		border-bottom: none;
	}
	nav ul li ul {width:180px;
	
	right:50px;
	
	top:100px;}
}

@media only screen and (max-width : 580px),
only screen and (max-device-width : 580px){
	nav li a {
		width: 50%;
		font: 400 12px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
		padding-top: 12px;
		padding-bottom: 12px;
	}
	
	nav li:nth-child(even) a {
		border-right: none;
	}
	
	nav li:nth-child(5) a, nav li:nth-child(6) a {
		border-bottom: 1px solid #fff;
	}
}

@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
	nav li a {
		font: 400 11px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
	}
}


nav ul li ul { display:none;
position:absolute;
	list-style:none;
	text-align:center;
	width:150px !important;
	
	right:20px;
	
	top:70px;
	
	
	/* This is important for the show/hide CSS animation */
	max-height:0px;
	overflow:hidden !important;
	padding:10px;
  padding-top:0;
	-webkit-transition:max-height 0.4s linear;
	-moz-transition:max-height 0.4s linear;
	transition:max-height 0.4s linear;}



nav ul li ul li a{
	padding:10px !important;
	color:#fff !important;
	text-decoration:none !important;
	display:block !important;
	width:150px;
 
}





nav ul li ul li:first-child{
	border-radius:3px 3px 0 0 !important;
	margin-top:25px !important;
	position:relative !important;
}

nav ul li ul li:first-child:before{ /* the pointer tip */
	content:'' !important;
	position:absolute;
	width:1px;
	height:1px;
	border:5px solid transparent;
	border-bottom-color:#313131;
	left:50%;
	top:-10px;
	margin-left:-5px;
}

nav ul li ul li:last-child{
border:none;
}

/* This will trigger the CSS */
/* transition animation on hover */

nav ul li:hover ul{
	max-height:400px;
	display:block; /* Increase when adding more dropdown items */
}



#slider {
    text-align: center;
}
label, a {
    color: teal;
    cursor: pointer;
    text-decoration: none;
}
label:hover, a:hover {
    color: #000 !important;
}
* {
    box-sizing: border-box;
}
label, #active, img {
    -moz-user-select:none;
    -webkit-user-select:none;
}
#slider {
    margin: 0 auto;
    max-width: 50%;
}
input {
    display: none;
}
#slide1:checked ~ #slides .inner {
    margin-left:0;
}
#slide2:checked ~ #slides .inner {
    margin-left:-100%;
}
#slide3:checked ~ #slides .inner {
    margin-left:-200%;
}
#slide4:checked ~ #slides .inner {
    margin-left:-300%;
}
#slide5:checked ~ #slides .inner {
    margin-left:-400%;
}
#overflow {
    width: 100%;
    overflow: hidden;
}
article img {
	height:200px;
    /*width: 100%;*/
}
#slides .inner {
    width: 500%;
    line-height: 0;
}
#slides article {
	height:200px;
    width: 20%;
    float: left;
}
#controls {
    margin: -25% 0 0 0;
    width: 100%;
    height: 50px;
}
#controls label {
    display: none;
    width: 50px;
    height: 50px;
    opacity: 0.3;
}
#active {
    margin: 23% 0 0;
    text-align: center;
}
#active label {
    border-radius: 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #bbb;
}
#active label:hover {
    background: #ccc;
    border-color: #777 !important;
}
#controls label:hover {
    opacity: 0.8;
}
#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3), 
#slide3:checked ~ #controls label:nth-child(4), 
#slide4:checked ~ #controls label:nth-child(5), 
#slide5:checked ~ #controls label:nth-child(1) {
    background: url('http://upload.robinbrons.com/u/1366504016.png') no-repeat;
    float: right;
    margin: -20px -70px 0 0;
    display: block;
}
#slide1:checked ~ #controls label:nth-child(5), 
#slide2:checked ~ #controls label:nth-child(1), 
#slide3:checked ~ #controls label:nth-child(2), 
#slide4:checked ~ #controls label:nth-child(3), 
#slide5:checked ~ #controls label:nth-child(4) {
    background: url('http://upload.robinbrons.com/u/1366544716.png') no-repeat;
    float: left;
    margin: -20px 0 0 -70px;
    display: block;
}
#slide1:checked ~ #active label:nth-child(1), 
#slide2:checked ~ #active label:nth-child(2), 
#slide3:checked ~ #active label:nth-child(3), 
#slide4:checked ~ #active label:nth-child(4), 
#slide5:checked ~ #active label:nth-child(5) {
    background: #333;
    border-color: #333 !important;
}
/* Info Box */
 .info {
    line-height: 20px;
    margin: 0 0 -150%;
    position: absolute;
    font-style: italic;
    padding: 30px 30px;
    opacity: 0;
    color: #000;
    text-align: left;
}
.info h3 {
    color: #333;
    margin: 0 0 5px;
    font-weight: normal;
    font-size: 22px;
    font-style: normal;
}
/* Slider Styling */
 #slides {
 		height:200px;
    margin: 45px 0 0;
/*    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;*/
/*    border-radius: 5px;*/
/*    box-shadow: 1px 1px 4px #666;
    padding: 1%;
    background: #fff;
    background: rgb(252, 255, 244);
    background: linear-gradient(top, rgba(252, 255, 244, 1) 0%, rgba(219, 218, 201, 1) 100%);*/
}
/* Animation */
 #slides .inner {
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
#slider {
    -webkit-transform: translateZ(0);
    transition: all 0.5s ease-out;
}
#controls label {
    -webkit-transform: translateZ(0);
    transition: opacity 0.2s ease-out;
}
#slide1:checked ~ #slides article:nth-child(1) .info, 
#slide2:checked ~ #slides article:nth-child(2) .info, 
#slide3:checked ~ #slides article:nth-child(3) .info, 
#slide4:checked ~ #slides article:nth-child(4) .info, 
#slide5:checked ~ #slides article:nth-child(5) .info {
    opacity: 1;
    transition: all 1s ease-out 0.6s;
}
.info, #controls, #slides, #active, #active label, .info h3, .desktop, .tablet, .mobile {
    -webkit-transform: translateZ(0);
    transition: all 0.5s ease-out;
}
/* Responsive Styling */
 @media only screen and (max-width: 850px) and (min-width: 450px) {
    #slider #controls {
        margin: -25% 0 0 15%;
        width: 70%;
        height: 50px;
    }
    #slider #controls label {
        transform: scale(0.8);
    }
    #slider #slides {
        padding: 1% 0;
        border-radius: 0px;
    }
    #slider #active {
        margin: 22% 0 0;
    }
}
/* Mobile */
 #mobile:checked ~ #slider #controls {
    margin: -28% 0 0 24%;
    width: 50%;
    height: 50px;
}
#mobile:checked ~ #slider #active {
    margin: 23% 0 0;
}
#mobile:checked ~ #slider #slides .info {
    opacity: 0 !important;
}
#mobile:checked ~ #slider #controls label {
    transform: scale(0.6);
}
@media only screen and (max-width: 450px) {
    #slider #controls {
        margin: -28% 0 0 24%;
        width: 50%;
        height: 50px;
    }
    #slider #active {
        margin: 23% 0 0;
    }
    #slider #slides {
        padding: 1% 0;
        border-radius: 0px;
    }
    #slider #slides .info {
        opacity: 0 !important;
    }
    #slider #controls label {
        transform: scale(0.6);
    }
}
@media only screen and (min-width: 850px) {
    body {
        padding: 0 80px;
    }
}

#nametag {
	width: 200px;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: none;
	border-radius: 0 0 10px 10px;
	display:inline-block;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.17);
	margin-top: 1000px;
	}

/* Headshot Image + Logotype */
#header {
	width: 200px;
	height: 179px;
	margin: 0 -8px;
	background: url('http://en.gravatar.com/userimage/12615615/5582851f017b7c5c7fb38e980a2b4a47.jpg?size=200') no-repeat;
	color: #fff;
	border-radius: 10px;
	}

hgroup {
	position: relative;
	top: 130px;
	left: 30px;
	}

h1 { 
	margin: 0;
	line-height: 0;
	font-size: 180%;
	font-weight: 600;
	}

h2 {
	margin: 8px 0 0 20px;
	font-size: 130%;
	font-weight: 300;
	font-style: italic;
	}

/* Introduction */
#introduction { padding: 5px 20px; 
}

/* Contact Buttons */
#contact { position: relative; }

.button {
	display: inline-block;
	width: 200px;
	line-height: 42px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	box-shadow: inset 0px 8px 40px rgba(0,0,0,0.2);
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	}

#telephone { 
	background: #04a0b8;
	border-radius: 0 0 0 8px;
	}

#email { 
	background: #9cd211;
	border-radius: 0 0 8px 0;
	}

em {
	width: 42px;
	display: inline-block;
	position: relative;
	margin: 0 -20px;
	line-height: 42px;
	background: #fff;
	color: #777;
	text-align: center;
	border-radius: 50px;
	}

/* Email Address & Phone fade in */
.button span { 
	position: absolute;
	left: 0;
	top: 55px;
	width: 348px;
	visibility: hidden;
	border-radius: 10px;
	opacity: 0;
	letter-spacing: 0.12em;
	}

#telephone span {
	background: #37bdb5;
	border: 1px solid #4fcbc4;
	box-shadow: 0 0 0 1px #33a49d;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	}

#email span {
	background: #c8db20;
	border: 1px solid #def418;
	box-shadow: 0 0 0 1px #8da11d;
	-webkit-transition: all 0.2s linear; 
	-moz-transition: all 0.2s linear; 
	}
