<!DOCTYPE html>
<html>

	<head>
	  <title>Photogur</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	</head>

<body> 
		<nav>
			<ul>
			  	<li><a href="http://localhost:3000/pictures/new">Upload Picture<br /></a></li>
			  	<li><a href="#">Home<br /></a></li>
			  	<li><a href="#">About us<br /></a></li>
			  	<li><a href="#">Edit a Photo<br /></a></li>
			  	<li><a href="#">Destroy a photo<br /></a></li>
			  	<li><a href="#">Sign in<br /></a></li>
			  	<li><a href="#">Register<br /></a></li>
			  	
			</ul>
		</nav>
	<div class="container">
		<div class="header">
<!-- <center>
		  <div class="wrapper">
		  <div class="tri-left"><a href="#"><img src="http://iconeasy.com/icon/png/System/Multipurpose%20Alphabet/Letter%20E%20blue.png"/></a></div>
		  <div class="tri-left"><a href="#"><img src="http://iconeasy.com/icon/png/System/Multipurpose%20Alphabet/Letter%20T%20blue.png"/></a></div>
		  <div class="tri-left"><a href="#"><img src="http://iconeasy.com/icon/png/System/Multipurpose%20Alphabet/Letter%20S%20blue.png"/></a></div>
		    
		  <div class="tri-right"><a href="#"><img src="http://iconeasy.com/icon/png/System/Multipurpose%20Alphabet/Letter%20F%20blue.png"/></a></div>
		  <div class="tri-right"><a href="#"><img src="http://iconeasy.com/icon/png/System/Multipurpose%20Alphabet/Letter%20F%20blue.png"/></a></div>
		  <div class="tri-right"><a href="#"><img src="http://iconeasy.com/icon/png/System/Multipurpose%20Alphabet/Letter%20Y%20blue.png"/></a></div>
		  </div>  
		</center> --></div>
				<% @pictures.each do |picture| %>
				
				<% end %>

			
		
	<div class="content">


		<div class="section second"></div>
			
			
	</div>
	<div class="footer">
				<!-- <div id="nametag">
					<div class="pic">
						<hgroup>
							<h1>Ian Steffy</h1>
							<h2>web dev</h2>
						</hgroup>
					</div> 

					<div id="introduction">
						<p>I'm a student at Bitmaker Labs who lives and breaths code</p>
					</div>

					<div id="contact">
						<a href="mailto:isteffy@hotmail.com" id="email" class="button">Email <span>isteffy@hotmail.com</span></a>
					</div>
				</div> -->
			</div>
</div>
</body>

</html>
